autom4te.cache/
configure
src/api/api_commands.cpp
src/api/api_log_macros.cpp
src/api/api_log_macros.h
src/api/dll/install_tactic.cpp
src/api/dotnet/Enumerations.cs
src/api/dotnet/Native.cs
src/api/python/z3consts.py
src/api/python/z3core.py
src/ast/pattern/database.h
src/shell/install_tactic.cpp
src/test/install_tactic.cpp
src/util/version.h
build/